table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 1.5px solid black;
}

td {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 20px;
    height: 10px;
    text-align: center;
}

.processCell{
    border: 1.5px solid black;
    
}

th.processCell{
    text-align: right;
    font-size: 50%
}

table#tabela td tr th{
    min-width: 30px;
}

